/v1_20_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/v1_20_R2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/v1_20_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/v1_20_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/v1_20_R2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/v1_20_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/v1_20_R1/target/classes/me/athlaeos/valhallammo/nms/NMS_v1_20_R1.class
/v1_20_R2/target/classes/me/athlaeos/valhallammo/nms/NMS_v1_20_R2.class
/v1_20_R3/target/classes/me/athlaeos/valhallammo/nms/NMS_v1_20_R3.class
/target/original-ValhallaMMO_BETA-1.0.jar
/v1_20_R1/target/original-ValhallaMMO_BETA-1.0.jar
/v1_20_R2/target/original-ValhallaMMO_BETA-1.0.jar
/v1_20_R3/target/original-ValhallaMMO_BETA-1.0.jar
/target/maven-archiver/pom.properties
/v1_20_R1/target/maven-archiver/pom.properties
/v1_20_R2/target/maven-archiver/pom.properties
/v1_20_R3/target/maven-archiver/pom.properties
/v1_20_R1/target/valhallammo-v1_20_R1-BETA-1.0-remapped-obf.jar
/v1_20_R2/target/valhallammo-v1_20_R2-BETA-1.0-remapped-obf.jar
/v1_20_R3/target/valhallammo-v1_20_R3-BETA-1.0-remapped-obf.jar
/v1_20_R1/target/ValhallaMMO_BETA-1.0.jar
/v1_20_R2/target/ValhallaMMO_BETA-1.0.jar
/v1_20_R3/target/ValhallaMMO_BETA-1.0.jar
